	
	#campers_stuff {
		overflow: hidden
	}
	#campers_form{
		float : right;
	}

	#campers_grid {
		float: left;
	}
	.logout {
		float: right;
		
	}

	.logout a:hover{
		color : white;
	}

	.admin_nav {
		width: 900px;
		background: #444;
		padding: 10px;
		font-size: 14px;
	}
	.admin_nav a {
		margin: 0px 20px;
	}

