body {
	/*background: url(../images/content-area-bg.png);*/
	background: url(../images/background.jpg);
	padding-top: 60px !important;
}

.stuff {
	background-color : #111;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .2) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.6) , 0 0 2px rgba(255,255,255,.2) !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.6) , 0 0 2px rgba(255,255,255,.2) !important;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.6) , 0 0 2px rgba(255,255,255,.2) !important;

	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; 
	filter: alpha(opacity=90);*/	
}

.custom {
	width : 940px;
	margin: 0px auto;
}

.cust-add-on{
 	margin-left : -4px !important;
 	margin-top : -8px !important;
}

.footer {
	text-align: center;
	bottom: 0px;
	width: 200px;
	margin: 0px auto;
	color: white;
 	margin-top: 80px;	
}

.logout{

}

#login_div{
	
}

#signup_div , #login_div{
	margin-left: 50px;
}

#signup_form, #login_form {
	margin-top : 20px;
}

#signup_div a, #login_div a {
	
} 

.container {
	/*width : 900px !important;*/
}

.instructions {
	margin :0px;
	padding: 0px;
}

.instructions ol {
	height : 13px;
	margin-bottom : 40px;
	margin-left: 0px;
	position : relative;
	border-bottom: 1px solid #EBEBEB;
}

.instructions ol li {
	background: #ffffff;
	display: inline-block;
	width : 25px;
	height : 25px;
	border: 1px solid #F5F5F5;
	font-weight : bold;
	text-align : center;
	border-radius : 1em;
	line-height : 25px;
	color: #777777;
	position: absolute;
}

.instructions .step2  {
	left : 50%;
}

.instructions .step3 {
	right : 0px;
}

.instructions ol li.selected { 
	background: #F54DBE;
	border: 0px none currentColor;
	color: #FFFFFF;
}

.instructions h2, h3 , .testimonials h2{
	color : #F54DBE;
	margin-bottom : 20px;
	font-weight : normal;
}

.instructions  h3 { 
	color : #ffe98b;
}

.form_links{
	margin-left : 20px;
}

.border{
	border: 1px solid #999;
}


.testimonials {
	position: relative;
	/*top: 450px;*/
	padding-top : 10px;
}

.test{
	background : white;
	padding: 6px;
	border: 1px solid silver;
}

.bkg {
	padding: 30px;
	background: white;
}

.polaroid {
	width : 270px;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
	-webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
	-moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
	box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
}

.pull-left {
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	transform: rotate(-9deg);
}

.faq {
	font-family: tahoma;
	font-size : 14px;
}

.faq li {
	font-weight : bold;
}

.faq .question {
	padding-bottom: 5px;
}

.faq .answer {
	margin-bottom : 30px;
	font-weight : normal;
}