.custom {
	width: 800px !important;
	margin: 0px auto;
}

.cust-add-on
 {
 	margin-left : -4px !important;
 	margin-top : -8px !important;
 }

 .footer {
 	text-align : center;
 }

.logout{

}

#login_div{
	
}

#signup_form, #login_form {
	margin-top : 20px;
}

#signup_div a, #login_div a {
	
} 

.container {
	width : 900px !important;
}